name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Update rustup
      run: rustup update
    - name: Add target
      run: rustup target add thumbv7em-none-eabihf
    - name: Add llvm-tools component
      run: rustup component add llvm-tools
    - name: Build
      run: cargo build --target thumbv7em-none-eabihf
    - name: Run tests
      run: cargo test -p cts2_obc_logic
